[Unit]
Description=pastakiller
After=multi-user.target

[Service]
Type=simple
EnvironmentFile=/var/lib/pastakiller/data/variables.env
ExecStart=/usr/bin/python3.6 /var/lib/pastakiller/service.py
User=root
WorkingDirectory=/var/lib/pastakiller
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
